@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
/* import Google Fonts Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Campton&display=swap");

@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Campton", sans-serif;
}

.font-work {
  font-family: "Campton", sans-serif;
}
